<div class="container-fluid">
  <div class="row">

    <!--Sidebar-->
    <div class="col-md-2 p-x-0 p-y-3">
      <div class="sidebar">
        <h2>Filter</h2>
        <%= form_with(url: events_path, method: "get", local: true) do |f| %>
          <p><%= f.select(:city, $places, :include_blank => false, prompt: 'Select a city') %></p>
          <p><%= f.select(:category, $categories, :include_blank => false, prompt: 'Select a category') %></p>
          <p><%= f.select(:start_month, $start_months, :include_blank => false, prompt: 'Select a month') %></p>
          <p><%= f.select(:start_year, $start_years, :include_blank => false, prompt: 'Select a year') %></p>
          <p> <%= submit_tag("Search") %></p>
        <% end %>
        <br>
        <h2>RSS Feed</h2>
        <iframe src="https://feed.mikle.com/widget/v2/129889/?preloader-text=Loading" height="1518px" width="280px" class="fw-iframe" scrolling="no" frameborder="0"></iframe>
      </div>
    </div>
    <!--Sidebar End-->

    <!--Mainbar-->
    <div class="col-md-10 p-x-3 p-y-1">
      <div class="main-bar">
        <div class="homepage">

          <% if notice %>
            <aside id="notice"><%= notice %></aside>
          <% end %>

          <ul class="catalog">
            <% @events.each do |event| %>
              <li>
                <%= image_tag(event.image) %>
                <h2><%= event.title %></h2>
                <div class="limit"><p><strong>Description: </strong><%= sanitize(event.description.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe) %></p></div>
                <p><strong>Start time: </strong><%= event.start_time %></p>
                <p><strong>Location: </strong><%= event.place_name %></p>
                <p>
                  <a href="https://www.facebook.com/events/<%= event.fbid %>" target="_blank">https://www.facebook.com/events/<%= event.fbid %></a>
                </p>
                <hr>
              </li>
            <% end %>
            <h4><%= pagy_nav(@pagy).html_safe %></h4>
          </ul>
        </div>
        <!--Mainbar End-->

        <!--Google Map-->
        <div class="container">
          <div style='width: 800px; margin: 0 auto;'>
            <div id="map" style='width: 800px; height: 400px; '></div>
          </div>

          <script type="text/javascript">
              handler = Gmaps.build('Google', { markers: { maxRandomDistance: 1000 } });
              handler.buildMap({provider: {}, internal: {id: 'map'}}, function () {
                  markers = handler.addMarkers(<%=raw @events_default.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
              });
          </script>

          <br>

        </div>
      </div>
    </div>
  </div>
</div>