<!-- Page Content -->
<div class="container">
  <div class="speech">
    <h3>Rebels are organising meetings, talks, events and actions all the time and you can get involved.
    </h3>
    <br>
  </div>

  <!-- Page Heading/Breadcrumbs -->
  <div class="homepage">

    <% if notice %>
      <aside id="notice"><%= notice %></aside>
    <% end %>

    <hr>
    <div class="side-content">
      <h3><%= form_with(url: events_path, method: "get", local: true) do |f|%></h3>
          <%= f.select(:city, $places, :include_blank=> false, prompt: 'Select a city') %>
          <%= f.select(:category, $categories, :include_blank=> false, prompt: 'Select a category') %>
          <%= f.select(:start_month, $start_months, :include_blank=> false, prompt: 'Select a month') %>
          <%= f.select(:start_year, $start_years, :include_blank=> false, prompt: 'Select a year') %>
          <%= submit_tag("Search") %>
        <% end %>
        </div>


    <ul class="catalog">
      <% @events.each do |event| %>
        <li>
          <%= image_tag(event.image) %>
          <h2><%= event.title %></h2>
          <p><strong>Description: </strong><%= sanitize(event.description) %></p>
          <p><strong>Start time: </strong><%= event.start_time %></p>
          <p><strong>Location: </strong><%= event.place_name %></p>
          <!--<p><%#= event.link-id %></p>-->
          <hr>
      <% end %>
    </ul>
  </div>



</div>
<!-- /.container -->

<div class="container">
  <!--Google map-->
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({provider: {}, internal: {id: 'map'}}, function () {
          markers = handler.addMarkers(<%=raw @events_default.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
      });
  </script>
  <br>

  <%= pagy_nav(@pagy).html_safe %>

  <br>

  <!--  Form -->
  <!--  <div class="homepage">-->
  <!--    <h1 class="mt-4 mb-3">JOIN THE REBELLION-->
  <!--    </h1>-->
  <!--  </div>-->

  <!--  <br>-->

  <!--  <form>-->
  <!--    <div class="form-row">-->
  <!--      <div class="col">-->
  <!--        <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="First Name" required>-->
  <!--      </div>-->
  <!--      <div class="col">-->
  <!--        <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Last Name" required>-->
  <!--      </div>-->
  <!--      <div class="col">-->
  <!--        <div class="input-group">-->
  <!--          <div class="input-group-prepend">-->
  <!--            <span class="input-group-text" id="inputGroupPrepend2">@</span>-->
  <!--          </div>-->
  <!--          <input type="text" class="form-control" id="validationDefaultEmail" placeholder="Email" aria-describedby="inputGroupPrepend2" required>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    <div class="col">-->
  <!--      <button type="button" class="btn btn-primary btn-block" type="submit">Join</button>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="col-6">-->
  <!--    <div class="form-group">-->
  <!--      <div class="form-check">-->
  <!--        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>-->
  <!--        <label class="form-check-label" for="invalidCheck2">-->
  <!--          I give my consent to Extinction Rebellion to get in touch with me using the information I have provided in this form, for the purpose of news, update, and rebellion-->
  <!--        </label>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </form>-->
</div>

<br/>