<!-- Page Content -->
<div class="container">

  <br><br>
  <!-- Page Heading/Breadcrumbs -->
  <div class="speech">
  <h1 class="mt-4 mb-3">Rebels are organising meetings, talks, events and actions all the time and you can get involved.
  </h1>

  <%if notice %>
  <aside id="notice"><%=notice %></aside>
    <%end %>
  <h1> Some Events Here</h1>

  <ul class="catalog">
    <%@events.each do |event| %>
    <li>
      <%=image_tag(event.image) %>
      <h2><%=event.title %></h2>
      <p>
        <%=sanitize(event.description) %>
      </p>
    </li>
    <% end %>
  </ul>

    <%= pagy_nav(@pagy).html_safe %>

</div>
<!-- /.container -->

  <br>

<div class="container">
  <!--Google map-->
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @events_default.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
      });
  </script>

 <!-- <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
         style="border:0" allowfullscreen></iframe>
    # </div>-->

  <br>

  <!-- Form -->
  <div class="speech">
    <h1 class="mt-4 mb-3">JOIN THE REBELLION
    </h1>
  </div>

  <br>

  <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="First Name" required>
      </div>
      <div class="col">
        <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Last Name" required>
      </div>
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
          </div>
          <input type="text" class="form-control" id="validationDefaultEmail" placeholder="Email" aria-describedby="inputGroupPrepend2" required>
        </div>
      </div>
    <div class="col">
      <button type="button" class="btn btn-primary btn-block" type="submit">Join</button>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          I give my consent to Extinction Rebellion to get in touch with me using the information I have provided in this form, for the purpose of news, update, and rebellion
        </label>
      </div>
    </div>
  </form>
</div>

<br>