<div class="container">
  <p id="notice"><%= notice %></p>

  <% if current_user && current_user.admin %>
    <%= button_to "Refresh Event", {:controller => "events",
                                    :action => "update",
                                    :params => { :fbid => @event.fbid } }, :method=>:put, class: 'btn btn-danger' %>
  <% end %>
  <br><br>

  <p>
    <strong>Title:</strong>
    <%= @event.title %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= @event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= @event.end_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %>
  </p>

  <p>
    <strong>Place name:</strong>
    <%= @event.place_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @event.category %>
  </p>

  <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
  <% end %>
  <%= link_to 'Back', events_path %>

</div>

<br>