<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Deescription:</strong>
  <%= @event.deescription %>
</p>

<p>
  <strong>Place name:</strong>
  <%= @event.place_name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @event.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @event.long %>
</p>

<p>
  <strong>Street:</strong>
  <%= @event.street %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

</div>